body{
     background-color:pink;
     border:4px;
}
p{
  color:green;
  font-family:Arial;
}
h1{
   color:purple;
   font-family:Aharoni;
}
h3{
   color:blue;
   font-family:Garamond;
}
ul{
   list-style-type:lower-roman;
   color:red;
   font-family:"Iskoola Pota";
}
hr{
   colour:blue;
}
